.article {
	width: min(500px, 100%);
	position: relative;
	padding: .25rem .75rem;
	margin: 0 auto;
	margin-top: 1rem;
	border-radius: 5px;
	box-shadow: 0 3px 5px 3px rgba(0,0,0,.3);
	&__title {
		margin-right: 1rem;
		font-size: 1.25rem;
		font-weight: 500;
		margin-bottom: 1rem;
	}
	&__content {
		font-size: .75rem;
	}
	&__delete {
		position: absolute;
		left: calc(100% - 1.5rem);
		bottom: calc(100% - 1.5rem);
		transform: scale(1.2);
		transition: color .2s, transform .2s;
		&:hover {
			color: red;
			cursor: pointer;
		}
		
		&:active {
			transform: scale(1);
		}
	}
}