.article {
	width: min(500px, 100%);
	position: relative;
	padding: .25rem .75rem;
	margin: 0 auto;
	margin-top: 1rem;
	border-radius: 5px;
	box-shadow: 0 3px 5px 3px rgba(0,0,0,.3);
	&__title {
		border: none;
		border-bottom: solid 1px lightgray;
		padding-bottom: .5rem;
		margin-right: 1rem;
		font-size: 1.25rem;
		font-weight: 500;
		margin: .5rem 0;
		word-wrap: break-word;
	}
	&__content {
		font-size: .75rem;
		font-family: inherit;
		white-space: pre-wrap;
		word-wrap: break-word;
	}
	&__time {
		margin: .5rem 0;
		display: block;
		width: 100%;
		text-align: right;
		color: gray;
		font-size: .8rem;
		border: none;
		border-top: solid 1px lightgray;
		padding-top: .5rem;
	}
	&__delete {
		line-height: 0;
		position: absolute;
		right: calc(100% - 1.5rem);
		top: calc(100% - 1.25rem);
		transform: scale(1.2);
		transition: color .2s, transform .2s;
		&:hover {
			color: red;
			cursor: pointer;
		}
		
		&:active {
			transform: scale(1);
		}
	}
}