@import '../../scss/btn.scss';

.tab {
	width: min(500px, 50%);
	&__list {
		height: 2rem;
		width: 100%;
		display: flex;
		justify-content: center;
		list-style-type: none;
		&-item {
			@include btn;
			border: solid 1px gray;
			transition-property: color, background-color, border-color;
			transition-duration: .2s;
			&:hover {
				cursor: pointer;
				background: rgb(252, 199, 102);
				border-color: rgb(252, 199, 102);
				color: white;
			}	
			&.active {
				color: white;
				border-color: tomato;
				background-color: tomato;
			}	
			&:first-child {
				border-right: none;
				border-radius: 2rem 0 0 2rem;
			}
			&:last-child {
				border-left: none;
				border-radius: 0 2rem 2rem 0;
			}
		}	
	}
}